<% if user_signed_in? %>

    <%= link_to root_path, class: "flex flex-col items-center drop-shadow-md shadow-pink-500 hover:drop-shadow-none" do %>
        <%= image_tag 'logo-clear.png', alt: 'Logo', class: 'h-8 w-8' %>
        <span class="text-xs font-bold text-pink-500">あるある神経衰弱</span>
    <% end %>

<% else %>

    <%= button_to "Googleログイン", user_google_oauth2_omniauth_authorize_path,
        method: :post, data: { turbo: false },
        class: "bg-yellow-500 text-white font-bold rounded hover:bg-yellow-600" %>

<% end %>