<div class="dropdown">

    <div tabindex="0" role="button"
        class="menus-btn bg-yellow-50 hover:bg-yellow-50 border-0 hover:border-none">
    <%= image_tag 'header/menu/menus.svg', width: '20', height: '20', id: 'image-menus-button', class: 'drop-shadow-md hover:drop-shadow-none'%>
    </div>

    <ul tabindex="0" class="dropdown-content menu bg-white rounded-xl z-[1] w-[220px] mt-6 shadow-lg">
        <div class="font-bold flex justify-start items-center no-underline">
            <li>
            <% links = [
                { text: 'お問い合わせ', url: 'https://forms.gle/RFMvzC4v6ECWJre48' },
                { text: 'プライバシーポリシー', url: policy_path },
                { text: '利用規約', url: term_path } ] %>

            <% links.each do |link| %>
                <%= link_to link[:text], link[:url], class: 'text-orange-500 hover:text-red-500 hover:bg-yellow-50' %>
            <% end %>

            <% if user_signed_in? then %>
                <div class="menu-list5 text-[#B4B4B4] pt-2 hover:bg-yellow-50">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </div>
            <% end %>
            </li>
        </div>
    </ul>

</div>