<p> OmniauthでGoogleログイン失敗したときにエラーメッセージ </p>
<% if flash[:alert] %>
    <div class="custom-alert">
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= flash[:alert] %>
    </div>
<% end %>