<button class="btn font-bold text-lg drop-shadow-md hover:drop-shadow-md
                bg-yellow-50 hover:bg-cyan-50 text-[#F50968] hover:text-[#5099ff]"
    onclick="howto.showModal()">遊び方</button>

<dialog id="howto" class="modal">
    <div class="modal-box fixed transform bg-white rounded-lg max-w-[600px] z-50 drop-shadow-lg">
        <div class="text-orange-500">
            <h3 class="text-pink-500 font-bold text-xl text-center text-pink-500">🥳　遊び方　🥳</h3>
            <div class="font-bold text-center px-2 py-4">あらゆる界隈をすこーし探求できるゲーム</div>
            <div class="howto-text flex flex-col items-center">
                好きな界隈のあるあるを投稿しよう！
                <img src="https://i.gyazo.com/a0d84ef0d742d69be28e5d5d7552ff89.gif" alt="Image from Gyazo" width="220"/></a>
                <br>

                みんなが作ったあるあるで遊ぼう！
                <img src="https://i.gyazo.com/0c80c3257072ad532da1f9dcb11266aa.gif" alt="Image from Gyazo" width="220"/></a>
                <br>

                あるあるを知りたい界隈を入力すると<br>
                ＡＩがあるあるを作ってくれるよ！
                <img src="https://i.gyazo.com/5582e53134acd44d73224eecad2a6837.gif" alt="Image from Gyazo" width="220"/></a>
                <br>
            </div>
        </div>
    </div>

    <form method="dialog" class="modal-backdrop mix-blend-multiply min-h-full bg-[#FFAB508D]" onclick="howto.close()"></form>
</dialog>
