<div class="font-medium text-md text-fuchsia-500 flex flex-col items-center" >

    <!-- 今日はあるあるを作ったから、また明日♫ -->
    <%= image_tag 'openai/openai_1day1try_used.png', class: 'ml-6 max-w-60 h-auto' %>
    <div class="flex items-center gap-1" >
        <img width="40" height="40" src="https://img.icons8.com/nolan/64/bot.png" alt="bot"/>
        <div class="text-md text-pink-500">きみの好きな界隈のあるあるを</div>
    </div>

    <%= render "shared/login_status" %>

</div>