<%# トップページのメインコンテンツを構成 %>
    <div class="logo-title">
    <%= image_tag '仮ロゴ.png', class: 'rounded-circle mr15', width: '400', height: '400' %>
    </div>


<%# 入力フォームとスタートボタン %>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>リスト一覧？</title>
</head>
<body>
    <form id="myForm" class="myForm">
        <label for="inputData">お題は？🤔</label>
        <div class="inputform">
        <input type="text" id="inputData" name="inputData">
        </div>

        <%# ★★★★★★ 未入力の場合の処理：フラッシュメッセージの表示 %>
        <div id="flashMessage" style="display:none; color:red;"></div>

        <%# ★★★★★★ 入力済み場合の処理：フラッシュメッセージ用の要素を取得 %>
        <div id="flashMessage" style="display:none; color:green;"></div>

        <%# ーーーーーースタートボタンーーーーーーーー %>
        
        <a href="" class="btn btn-3d-circle">
            <span class="btn-3d-circle-content">
                <span class="btn-3d-circle-front">とにかく知りたいモード</span>
            </span>
            <span class="btn-3d-circle-back">じっくりめくろう！</i></span>
        </a>

        <a href="" class="btn btn-3d-circle">
            <span class="btn-3d-circle-content">
                <span class="btn-3d-circle-front">はやく言いたいモード</span>
            </span>
            <span class="btn-3d-circle-back">タイムオーバーあり！</i></span>
        </a>

    </form>

    <script>
        function handleSubmit() {
            // フォームデータを取得
            const inputData = document.getElementById('inputData').value;

            //  ★★★★★★ フラッシュメッセージ用の要素を取得
            const flashMessage = document.getElementById('flashMessage');

            //  ★★★★★★ 未入力の場合の処理
            if (!inputData) {
                flashMessage.textContent = 'どの界隈のあるあるが知りたいか教えてね👀';
                flashMessage.style.display = 'block';
                return;
            } else {
                flashMessage.style.display = 'none';
            }

            // ★★★★★★ 入力された場合のフラッシュメッセージ
            flashMessage.textContent = 'まだ遊べないんだぁ、待っててね😀';
            flashMessage.style.display = 'block';
            

            // AIにデータを送信する一旦Geminiを登録
            fetch('https://gemini.google.com/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ data: inputData })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // データ送信が成功したらゲームスタート画面に遷移
                window.location.href = '/game-start';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>