<%# トップページのメインコンテンツを構成 %>

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>トップページ</title>
    </head>

    <body class="text-center">

    <div class="flex justify-center">
        <%= image_tag 'logo-clear.png', class: 'rounded-full w-96 h-96' %>
    </div>

        <form id="myForm" class="font-light text-lg text-[#0090e3] ">
            <label for="inputData" class="block mb-2 text-center">どの界隈のあるあるで遊ぶ？🤔</label>
                <div class="flex justify-center mb-4">
                    <input type="text" placeholder="例）ONEPIECE：イーストブルー編"
                        id="inputData" name="inputData"
                        class="w-[380px] p-2 border-4 border-[#ffa463] rounded text-left font-family-['BIZ UDGothic'] placeholder-[#cecece]" />
                </div>
            <div class="flex justify-center">
                <a href="#" class="btn btn-3d-circle " id="button">
                    <span class="btn-3d-circle-content">
                        <span class="btn-3d-circle-front">神経衰弱スタート</span>
                    </span>
                        <span class="btn-3d-circle-back">めくって知ろう！</span>
                </a>
            </div>
        </form>
    </body>
</html>