<%# トップページのメインコンテンツを構成 %>
<%# このクラスはCSSフレームワークであるBootstrap5でのスタイリングが適用 %>
<div class="top-wrapper">
  <div class="top-inner-text">
    <%= image_tag '仮ロゴ.png', class: 'rounded-circle mr15', width: '400', height: '400' %>
  </div>
</div>