<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
</head>

    <script src="https://accounts.google.com/gsi/client" async defer></script>

<body class="text-center">

    <div class="flex justify-center mt-4">
        <%= image_tag 'logo-bg-custom-yellow.png', class: 'w-64 h-64 aspect-[1/1]' %>
    </div>

    <div class="flex justify-center mb-4">
        <%= render 'tops/howto' %>
    </div>

    <%= render 'openai_form' %>

</body>
</html>
