<div class="flex inset-0 justify-center items-center">

  <% if notice.present? %>
    <p class="my-2 py-2 px-3 bg-green-50 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %></p>
  <% end %>

  <% if alert.present? %>
    <p class="my-2 py-2 px-3 bg-orange-50 text-red-500 font-bold rounded-lg border-2 border-orange-400 inline-block" id="alert">
    <%= alert.html_safe %></p>
  <% end %>

</div>