<!-- フッターを用意 -->
<footer id='footer' class='footer-bottom'>
<div class='copyright'>
    <a href="https://x.com/pakira_rrr">
    <%= image_tag 'footer/x-white.png', class: 'rounded-circle mr15', width: '20', height: '20',id:'image-x' %>
    お問い合わせ</a>
</div>
</footer>