<!-- フッターを用意 -->
<footer id='footer' class='footer-bottom'>
<div class='copyright'>

<a href="https://x.com/pakira_rrr" >
    <class= 'rounded-circle mr15', width: '15', height: '15'>
    お問い合わせ
</a>

</div>
</footer>