<div class='bg-yellow-50 mt-6 py-2'>
    <div class="flex ml-6">
        <dr>
        <a href="https://forms.gle/RFMvzC4v6ECWJre48"
            class='text-orange-500 hover:text-red-500 hover:font-bold no-underline'>お問い合わせ</a>
        <%= link_to 'プライバシーポリシー', '/policy',
            class: 'text-orange-500 hover:text-red-500 hover:font-bold no-underline ml-2' %>
        <%= link_to '利用規約', '/term',
            class: 'text-orange-500 hover:text-red-500 hover:font-bold no-underline ml-2' %>
        <dr>
    </div>
</div>