<footer id='footer' class='flex ml-6 my-9 h-8'>
    <dr>
    <a href="https://forms.gle/RFMvzC4v6ECWJre48"
    class='text-orange-500 hover:text-red-500 hover:font-bold no-underline'>お問い合わせ</a>
    <dr>
    <%= link_to 'プライバシーポリシー', '/policy',
    class: 'text-orange-500 hover:text-red-500 hover:font-bold no-underline ml-2'%>
    <dr>
    <%= link_to '利用規約', '/term',
    class: 'text-orange-500 hover:text-red-500 hover:font-bold no-underline ml-2'%>
    <dr>
</footer>