<footer id='footer' class='footer-bottom'>
    <div class='ml-5'>
        <a href="https://x.com/pakira_rrr" class='text-orange-500 hover:text-red-500 hover:font-bold no-underline'>お問い合わせ</a>
    </div>
</footer>