<footer id='footer' class='footer-bottom flex ml-6 mt-6' >
    <dr>
    <a href="https://docs.google.com/forms/d/18ZqQchVUQhLMo8hjqlj0_ig74KAnTrmrV46cCb-L0MQ/prefill"
    class='text-orange-500 hover:text-red-500 hover:font-bold no-underline'>お問い合わせ</a>
    <dr>
    <%= link_to 'プライバシーポリシー', '/policy',
    class: 'nav-link text-orange-500 hover:text-red-500 hover:font-bold no-underline'%>
    <dr>
    <%= link_to '利用規約', '/term',
    class: 'nav-link text-orange-500 hover:text-red-500 hover:font-bold no-underline'%>
    <dr>
</footer>