<header class="flex justify-between items-center h-16 bg-yellow-50 shadow-md">

    <!-- 左側：遊び方 -->
    <div class="flex-1 flex justify-start">
        <%= render 'shared/header/howto' %>
    </div>

    <!-- 中央：ログイン状態に応じたコンテンツを表示 -->
    <div class="flex-1 flex justify-center">
        <%= render 'shared/header/googleloginbutton_or_logo' %>
    </div>

    <!-- 右端：メニュー -->
    <div class="flex-1 flex justify-end">
        <%= render 'shared/header/menu' %>
    </div>

</header>