<header class="h-16 bg-yellow-50 shadow-md flex justify-between items-center">

    <!-- 左：ログイン状態に応じたコンテンツを表示 -->
    <div class="flex-1 text-left md:text-left ml-4">
        <%= render 'shared/header/googleloginbutton_or_logo' %>
    </div>

    <!-- 中央：検索フォーム -->
    <div class="flex-1 text-center h-8 pl-4">
        <%= render 'shared/header/search_form', url: search_search_posts_path %>
    </div>

    <!-- 右：メニュー -->
    <div class="flex-1 text-right md:text-right mr-4">
        <%= render 'shared/header/menu' %>
    </div>

</header>