<div id="loading" class="hidden bg-orange-300 bg-opacity-50 fixed top-0 left-0 w-full h-full z-50 flex items-center justify-center">
    <div class="bg-yellow-50 p-28 rounded-xl">
        <div class="animate-spin">
                <%= image_tag 'logo-clear.png', class: 'w-32 h-32 aspect-[1/1]' %>
        </div>
    </div>
</div>