<div class="twitter">
    <%= link_to "https://twitter.com/intent/tweet?url=#{request.base_url}/games/#{post.id}/start&text=#{ERB::Util.url_encode("\n#{post.user.name}さんが思う\n##{post.title.gsub(/[^\p{Alnum}\s]/u, '')} あるあるをシェア！\n#あるある神経衰弱\n")}",
        target: '_blank',
        data: { toggle: "tooltip", placement: "bottom" },
        title: "Xでシェア" do %>
        <%= image_tag 'xshare.svg', class: "h-6 w-6 drop-shadow-md hover:drop-shadow-none", id: 'image-xshare' %>
    <% end %>
</div>