<div class="text-center mb-3 text-gray-500">まだないよ！投稿しよう！</div>
<div class="menu-list2" >
    <%= link_to image_tag('header/menu/menu-2.svg', width: '25', height: '25', id: 'image-menu2') + '自分であるあるを投稿',
        new_post_path,
        class: "btn btn-md items-center no-underline rounded-lg w-48 px-2 mb-2 p-0 gap-2
                font-bold text-nowrap text-[#0088D0] hover:text-[#00c5ff]
                bg-white hover:bg-white border-2 hover:border-orange-400
                drop-shadow-md hover:drop-shadow-none" %>
</div>