<form>
    <div class="flex mb-6 ml-8 gap-2">
        <input class="form-control placeholder:text-[#C7C7C7]" placeholder="まだ未実装だよ！" type="search"/>
        <input type="submit" value="検索" class="btn px-3"/>
    </div>
</form>