<form>
    <div class="flex justify-start mb-2 pl-2 gap-1">
        <input class="form-control p-0 pl-2 w-40" placeholder="まだ未実装だよ！" type="search"/>
        <input type="submit" value="検索" class="btn btn-sm px-3"/>
    </div>
</form>