<div class="container py-4">

    <%= render 'search_form' %>

    <div class="col-12">
        <div class="row">
            <% if @posts.present? %>
                <div class="flex flex-wrap justify-center gap-4">
                    <%= render @posts %>
                </div>
            <% else %>
                <div class="mb-3 text-center">まだ投稿がないよ！投稿しよう！</div>
            <% end %>
        </div>
    </div>

</div>

<div class="pl-8">
    <%= render 'shared/index_backbutton' %>
    <%= render 'shared/toppage_backbutton' %>
</div>