/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*　　　　遊び方　　　　　*/
#howto{
    display: none; /* label でコントロールするので input は非表示に */
    position: relative;}

.howto-open {
    display: block; /* 6/11 追加 */
    margin-bottom: 10px; /* 6/11 要素間にスペを追加 */

    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
    color: #F50968;
    font-weight: bold;
    font-size: large;
    text-align: left;
    left: 20px;
    /* メニュー達とヘッダーの高さを揃えられす、topで指定 */
    top: 10px;
    position: absolute;}

.howto-open:hover {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
    color: #5099ff;
    font-weight: 300;
    font-weight: bold;
    text-align: left;
    left: 20px;
    /* メニュー達とヘッダーの高さを揃えられす、topで指定 */
    top: 10px;
    position: absolute;}

.howto-title{
    color: #ff0090;
    font-weight: bold;
    font-size: larger;
    text-align: center;}

.howto-overlay {
    /* 6/11追加 */
    position: fixed;
    z-index: 1000; /* オーバーレイを前面に表示 */

    display: none; /* input にチェックが入るまでは非表示に */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff8f49;
    justify-content: center;
    align-items: center;}

#howto:checked ~ .howto-overlay {
    display: block;
    z-index: 99999;
    /*　　背景透過　*/
    background-color: #ffba7070;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;}

.howto-window {
    border-radius: 10px;
    text-align: center;
    z-index: 1001; /* ウィンドウをオーバーレイより前面に表示 */

    /* スマホだと幅が窮屈 */
    width: 90vw;
    max-width: 560px;
    padding: 10px;
    background-color: #ffffff;
    /* fixed：親の存在を無視して、画面を基準にする */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

.howto-text {
    line-height: 200%;
    text-align: left;
    padding: 0px 10px 10px 0px;
    color: #ff5900;
    /* 画面が縮んでも改行しない指示 */
    white-space: nowrap;
    /* 画面が縮んでも背景が変わらない */
    width: fit-content;}

.card-border {
    border: 3px solid #ffee2e;  /* 縁の太さと色を指定 */
    border-radius: 4%;  /* 角を丸める */}

.close-text{
    color: #ffffff;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    top: 50px;}

/* 　幅560px以上の画面で見た場合の説明テキスト */
@media screen and (min-width: 560px) {
    .howto-text{
        margin-left: 10%; /* 左に余白を */}}
/* 　幅560px以下の画面で見た場合の説明テキスト */
@media screen and (max-width: 560px) {
    .howto-text{
        margin-left: 10%; /* 左に余白を */
    }}





.header-container {
    /* application.html.erbで設定したクラス（親）*/
    display: flex; 
    justify-content: space-between; 
    align-items: center;/* 高さを中央に揃える */
    position: relative;
    top: 10px;
}
/* ヘッダーを基準にガイドとメニューとの高さを揃える　(揃わなかった) */
.menus,.header-container {
    align-items: center;
}
.howto,howto2,.header-container {
    align-items: center;
}









/*メニュー*/
.menus{
    /* header/menu/menu-1メニューとheader/menu/menu-3メニューを一括りにしたクラス */
    position:relative;
    justify-content: flex-end; /* 追加：親要素に追加すると子が右寄せになる */
    cursor: pointer;
    right: 20px;
    width: auto;}

.menus-button :hover{ content: url('header/menu/menus-hover.svg');}

.menus-area{
    position: fixed;
    max-width: 30%; /* 元は300 */
    top: 70px;
    right: 25px;}

.menu-list1{
    line-height: 25px;
    list-style: none; /*先頭の・を非表示*/
    background-color: rgb(254, 255, 240);
    padding: 15px; /* 追加 */
    border-radius: 10px;/* 角を丸める */

    /* 追加：画面が縮んでも改行しない指示 */
    white-space: nowrap;
    /* 追加：画面が縮んでも背景が変わらない */
    width: fit-content;}

.menu-list1 li{
    padding: 10px;}

.menu-list1 li a{
    /* menu-listの中のliタグの中のaタグを編集 */
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;  /* リンク下の線を削除 */
    gap: 5px; /*アイコンとの距離が離れる*/}

.menu-list1 li a{ color: #019c8f;}
.menu-list1 li a:hover{ color: #00e297;}
.menu-list1 li a:hover #image-menu1 {content: url('header/menu/menu-1-hover.svg');}

.menu-list2 li a{ color: #0088D0;}
.menu-list2 li a:hover{ color: #00c5ff;}
.menu-list2 li a:hover #image-menu2 {content: url('header/menu/menu-2-hover.svg');}

.menu-list3 li a{ color: #DF5656;}
.menu-list3 li a:hover{ color: #fe9898;}
.menu-list3 li a:hover #image-menu3 { content: url('header/menu/menu-3-hover.svg');}

.menu-list4 li a{ color: #818181;}
.menu-list4 li a:hover{ color: #b7b7b7;}
.menu-list4 li a:hover #image-menu4 { content: url('header/menu/menu-4-hover.svg');}

/* 　幅480以上の画面で見た場合 */
@media screen and (min-width: 480px) {
    #menu-area{
        top: 70px;
        right: 20px;  /*リストの位置 */
    }}

/* 　幅480px以下の画面で見た場合 */
@media screen and (max-width: 480px) {
    #menu-button2 {
        right: 10%;
    }
    #menu-area{
        top: 70px;
        right: 20px;  /*リストの位置 */
    }}

/* 　幅560px以上の画面で見た場合 */
@media screen and (max-width: 560px) {
    #menu-area{
        top: 70px;
        right: 20px;  /*リストの位置 */
    }}





/* めくれるスタートボタン。Tailwindで書けなかった */
.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5; /* 行の高さを指定 */
    position: relative;
    display: inline-block;
    padding: 1rem 2rem; /* 内側の余白を指定している。上下に1rem、左右に4rem */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /* 一般的なブラウザでユーザーがテキストを選択できない */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle; /* 垂直方向の中央揃え */
    text-decoration: none;
    /*  letter-spacing: 0.2em; 文字間のスペースを指定 */
    border-radius: 0.5rem;

    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */}

/* 表面の文字色 */
.btn-3d-circle-front{
    position: absolute;
    font-size: 62.5%;
    top: 50%; /* まずは真ん中に */
    left: 50%;
    transform: translate(-50%, -50%); /* 要素の中心を真ん中に */
    /* 画面が縮んでも改行しない指示 */
    white-space: nowrap;
    color: #ff426b; /* 表文字の色 */}

/* 表面の背景 */
.btn-3d-circle-content {
    display: flex;

    /*  ボタンの形　　*/
    width: 220px;
    height: 60px;

    -webkit-transition: all 0.3s;/* 古いWebKitブラウザ用 */
    transition: all 0.3s; /* 標準ブラウザ用 */

    border: 4px solid #ffffff; /* 縁の色と太さを変える */
    border-radius: 40px;/* 角を丸める */
    background: #ffdde0; /* 表面の背景色 */

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;
    -webkit-perspective: 150px;
    perspective: 150px;}

/*  縦に反転する場合 */
.btn-3d-circle:hover .btn-3d-circle-content {
    -webkit-transform: rotateX(0.5turn) rotateX(-0.03turn);
    transform: rotateX(0.5turn) rotateX(-0.03turn);
    background: #f2f5f6; /* 裏面の背景色 */}

/* 表の文字も反転させないために　0； */
.btn-3d-circle:hover .btn-3d-circle-front {
    opacity: 0;}

/* 裏面を表示 */
.btn-3d-circle:hover .btn-3d-circle-back {
    opacity: 1;}

/* 裏面の文字の表示の仕方 */
.btn-3d-circle-back {
    position: absolute;

    font-size: 62.5%;
    top: 50%; /* まずは真ん中に */
    left: 50%;
    transform: translate(-50%, -50%); /* 要素の中心を真ん中に */
    /* 画面が縮んでも改行しない指示 */
    white-space: nowrap;
    color: #52b1ff; /* 表文字の色 */

    -webkit-transition-duration: 0.5s; /* 古いWebKitブラウザ用 */
    transition-duration: 0.5s;         /* 標準ブラウザ用 */

    opacity: 0;}
