@tailwind base;
@tailwind components;
@tailwind utilities;

/* メニュー */
.menu-index a:hover #image-index { content: url('footer/menu-index-hover.svg');}
.menu-post-new a:hover #image-post_new { content: url('footer/menu-post-new-hover.svg');}
.menu-myindex a:hover #image-myindex { content: url('footer/menu-myindex-hover.svg');}
.menu-likes a:hover #image-likes { content: url('footer/menu-likes-hover.svg');}

/* 投稿の編集・削除・お気に入りボタン */
.post-edit a:hover #image-edit{ content: url('post/post-edit-hover.svg');}
.post-delete a:hover #image-delete{ content: url('post/post-delete-hover.svg');}
.post-like a:hover #image-like { content: url('footer/menu-likes-hover.svg');}

/* Xシェアボタン */
.twitter a:hover #image-xshare { content: url('xshare-hover.svg');}


/* ゲーム画面 （Tailwindに書き換えられず） */
#panel {
    background-color: rgba(233, 252, 255, 0.995);
    border-radius: 10px;
    width: 400px;
    height: 550px;
    overflow: hidden; }

.card {
    width: 180px;
    height: 98px;
    line-height: 23px;
    /* border: 1px solid rgb(255, 85, 0); */
    border-radius: 10px;

    box-shadow: rgb(255, 115, 0) 0px 4px;
    float: left;
    margin: 5px 0px 6px 13px;
    cursor: pointer;

    color: rgb(244, 0, 175);
    text-align: center;
    text-wrap: balance;
    font-size: 15px;
    font-weight: bold;
    background: rgb(255, 255, 247);

    transform-style: preserve-3d; /* 3D効果を維持 */
    -webkit-transform: rotateY(0.5turn);  /* 横に回転(古いブラウザ用) */
    transform: rotateY(0.5turn);  /* 横に回転 */
    -webkit-transition: transform 0.5s;  /* 回転する速度(古いブラウザ用) */
    transition: transform 0.5s;  /* 回転する速度 */
}

/* カードが裏の状態 */
.back {
    background-size: 180px 98px;
    background-image: url('game-cardback.png');}

/* カードが表の状態 */
.card:not(.back) { transform: rotateY(0); } /* 反転させない */

/* ペアになったカード */
.finish {
    background-color: white;
    box-shadow: none;
    border: 2px solid rgb(255, 132, 0, 0.827); }



/* ローディングアニメーション */
.loaded {
    opacity: 0;
    display: none; }