/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body { 
    background-color: #fdea2e;
}

/*　　　　遊び方　　　　　*/
#popup-1 {
    display: none; /* label でコントロールするので input は非表示に */
    position: relative;
}
.popup-open-1 {
    display: block; /* 6/11 追加 */
    margin-bottom: 10px; /* 6/11 要素間にスペを追加 */

    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
    color: #F50968;
    font-weight: bold;
    font-size: large;
    text-align: left;
    left: 20px;
    /* トグル達とヘッダーの高さを揃えられす、topで指定 */
    top: 10px;
    position: absolute;
}
.popup-open-1:hover {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
    color: rgb(80, 153, 255);
    margin-bottom: 0;
    font-weight: 300;
    font-weight: bold;
    text-align: left;
    left: 20px;
    /* トグル達とヘッダーの高さを揃えられす、topで指定 */
    top: 10px;
    position: absolute;
}
.popup-title-1{
    color: rgb(255, 0, 144);
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.popup-overlay-1 {
    /* 6/11追加 */
    position: fixed;
    z-index: 1000; /* オーバーレイを前面に表示 */

    display: none; /* input にチェックが入るまでは非表示に */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 143, 73, 0.7);
    justify-content: center;
    align-items: center;
}
#popup-1:checked ~ .popup-overlay-1 {
    display: block;
    z-index: 99999;
    /*　　背景透過　*/
    background-color: #ffba7070;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
.popup-window-1 {
    border-radius: 10px;
    text-align: center;
    z-index: 1001; /* ウィンドウをオーバーレイより前面に表示 */

    /* スマホだと幅が窮屈 */
    width: 90vw;
    max-width: 560px;
    padding: 20px;
    background-color: #ffffff;
    /* fixed：親の存在を無視して、画面を基準にする */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-text-1 {
    line-height: 200%;
    text-align: left;
    padding: 0px 10px 10px 0px;
    color: rgb(255, 89, 0);
    /* 追加：画面が縮んでも改行しない指示 */
    white-space: nowrap;
    /* 追加：画面が縮んでも背景が変わらない */
    width: fit-content;
}
.popup-text-1:not(:last-of-type) {
    margin-bottom: 1em
}
.popup-text-1 image{
    align-items: center;
}
.popup-close-1 {
    cursor: pointer;
     /* popup子 */
    position: absolute;
    top: -26px;
    right: 0;
}

.custom-border {
    border: 3px solid rgb(255, 238, 46);  /* 縁の太さと色を指定 */
    border-radius: 4%;  /* 角を丸める */
}

/*　　　　モード説明　　基本遊び方のコピペ　　　*/
#popup-2 {
    display: none; /* label でコントロールするので input は非表示に */
    position: relative;
}
/* left:100px で遊び方と被らないようにズラした　*/
.popup-open-2 {
    display: block; /* 6/11 追加 */
    margin-bottom: 10px; /* 6/11 要素間にスペを追加 */

    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
    color: #F50968;
    font-weight: bold;
    font-size: large;
    text-align: left;
    left: 100px;  /* 遊び方と被らないようにズラした */
    /* トグル達とヘッダーの高さを揃えられす、topで指定 */
    top: 10px;
    position: absolute;

    /* 画面が縮んでも改行しない指示 */
    white-space: nowrap;
}
/* left:100px で遊び方と被らないようにズラした　*/
.popup-open-2:hover {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
    color: rgb(80, 153, 255);
    margin-bottom: 0;
    font-weight: 300;
    font-weight: bold;
    text-align: left;
    left: 100px;  /* 遊び方と被らないようにズラした */
    /* トグル達とヘッダーの高さを揃えられす、topで指定 */
    top: 10px;
    position: absolute;
}
.popup-title-2 {
    color: rgb(255, 0, 144);
    font-weight: bold;
    font-size: larger;
    text-align: center; 
}
.popup-overlay-2 {
    /* 6/11追加 */
    position: fixed;
    z-index: 1000; /* オーバーレイを前面に表示 */

    display: none; /* input にチェックが入るまでは非表示に */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 143, 73, 0.7);
    justify-content: center;
    align-items: center;
}
#popup-2:checked ~ .popup-overlay-2 {
    display: block;
    z-index: 99999;
    /*　　背景透過　*/
    background-color: #ffba7070;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
.popup-window-2 {
    border-radius: 10px;
    text-align: center;
    z-index: 1001; /* ウィンドウをオーバーレイより前面に表示 */

    /* スマホだと幅が窮屈 */
    width: 90vw;
    max-width: 560px;
    padding: 20px;
    background-color: #ffffff;
    /* fixed：親の存在を無視して、画面を基準にする */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-text-2 {
    line-height: 200%;
    text-align: left;
    padding: 0px 10px 10px 0px;
    color: rgb(255, 89, 0);
     /* 追加：画面が縮んでも改行しない指示 */
    white-space: nowrap;
    /* 追加：画面が縮んでも背景が変わらない */
    width: fit-content;
}
.popup-text-2:not(:last-of-type) {
    margin-bottom: 1em
}
.popup-text-2 image{
    align-items: center;
}
.popup-close-2 {
    cursor: pointer;
     /* popup子 */
    position: absolute;
    top: -26px;
    right: 0;
}


/* 6/12　スマホ以上の横幅サイズの場合の指示 */
@media screen and (min-width: 560px) {
    .popup-text-1 , .popup-text-2{
        margin-left: 15%; /* 左に余白を */
    }
}





.header-container {
    /* application.html.erbで設定したクラス（親）*/
    display: flex; 
    justify-content: space-between; 
    align-items: center;/* 高さを中央に揃える */
    position: relative;
    top: 15px;
}
/* ヘッダーを基準にガイドとトグルとの高さを揃える　(揃わなかった) */
.toggles,.header-container {
    align-items: center;
}
.popup,popup2,.header-container {
    align-items: center;
}









/*トグルメニュー*/
.toggles {
    /* 吹き出しトグルとハートトグルを一括りにしたクラス */
    position:relative;
    display: flex;
    /* toggle1と2の間の距離 */
    gap: 30px;
    justify-content: flex-end; /* 追加：親要素に追加すると子が右寄せになる */
    cursor: pointer;
    width: 100%; /* 追加：親要素の幅を100%に */
    right: 20px;
}
.toggle1 , .toggle2{
    /* 吹き出しトグルとハートトグル */
    position: relative;
    width: auto; /* 修正：100%からautoに変更 */
}
/*.toggle2{
    right: 20px;
}*/

.toggle-list1 , .toggle-list2{    
    /* 吹き出しトグルとハートトグルの項目 */
    /* padding-left: 30px; */
    /* width: 100%; */
    line-height: 25px;
    list-style: none; /*先頭の・を非表示*/
    background-color: rgb(254, 255, 240);
    padding: 15px; /* 追加 */
    /* 追加：画面が縮んでも改行しない指示 */
    white-space: nowrap;
    /* 追加：画面が縮んでも背景が変わらない */
    width: fit-content;
}
.toggle-list1 li a, .toggle-list2 li a{
    /* toggle-listの中のliタグの中のaタグを編集 */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;  /* リンク下の線を削除 */
    /*gap: 40px;*/ /*矢印との距離が離れる*/ 
}
.toggle-list1 li , .toggle-list2 li {
    margin-bottom: 10px;
}
.toggle-list2 {
    justify-content: flex-start;
}
.toggle-list1 li a{ color: #008C80;}
.toggle-list1 li a:hover{ color: #00e4d1;}
#toggle-button1:hover #image-toggle {content: url('吹き出し緑.png');}

.toggle-list2 li a{ color: #DF5656;}
.toggle-list2 li a:hover{ color: #fe9898;}
#toggle-button2:hover #image-toggle { content: url('ハート赤.png');}

#toggle-content1, #toggle-content2 {
    /* 吹き出しトグルとハートトグルのコンテンツ */
    /*display: none; */  /* 追加 */
    position: fixed;
    /*width: 100%;*/
    max-width: 30%; /* 元は300 */
    right: 100px;  /*リストの位置 */
}
/* 　スマホで見切れない指示 */
@media screen and (min-width: 480px) {
    #toggle-content1, #toggle-content2 {
        right: 20px;
    }
}
#toggle-content2{
    top: 69px;
}




/*  */


.logo-title {
    padding-top: 10px;
    text-align: center;
}

/*お題とフォーム*/
.myForm{
    font-size: large;
    font-weight: bolder;
    color: #10a7ff;
    padding-top: 10px;
    padding-bottm: 0px;
    text-align: center;
}
/*入力フォーム*/
#inputData{
    padding: 10px;
    margin-bottom: 20px;
}
/*入力フォームを中心に*/
.inputform{
    display: flex;
    justify-content: center;
}
/*お題とフォームを二列に*/
label, input {
    display: block;
    margin-bottom: 10px; /* 元は20 */
    text-align: center;
}


/* 　2つのボタンの並べ方 
.buttons{
    display: flex;
    justify-content:center;
}*/


/* 編集したボタン */
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5; /* 行の高さを指定 */
    position: relative;
    display: inline-block;
    padding: 1rem 2rem; /* 内側の余白を指定している。上下に1rem、左右に4rem */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /* 一般的なブラウザでユーザーがテキストを選択できない */
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle; /* 垂直方向の中央揃え */
    text-decoration: none;
    /*  letter-spacing: 0.2em; 文字間のスペースを指定 */
    border-radius: 0.5rem;

    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
}

/* 表面の文字色 */
.btn-3d-circle-front{
    position: absolute;
    font-size: 62.5%;
    top: 50%; /* まずは真ん中に */
    left: 50%;
    transform: translate(-50%, -50%); /* 要素の中心を真ん中に */
    /* 画面が縮んでも改行しない指示 */
    white-space: nowrap;
    color: #ff426b; /* 表文字の色 */
}
/* 表面の背景 */
.btn-3d-circle-content {
    display: flex;

    /*  ボタンの形　　*/
    width: 220px;
    height: 60px;

    -webkit-transition: all 0.3s;/* 古いWebKitブラウザ用 */
    transition: all 0.3s; /* 標準ブラウザ用 */

    border: 2px solid #ffffff; /* 縁の色と太さを変える */
    border-radius: 40px;/* 角を丸める */
    background: #ffdde0; /* 表面の背景色 */

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;
    -webkit-perspective: 150px;
    perspective: 150px;
}
/* 反転の仕方 */
/*  横に反転する場合
.btn-3d-circle:hover .btn-3d-circle-content {
    -webkit-transform: rotateY(0.5turn) rotateX(-0.03turn);
    transform: rotateY(0.5turn) rotateX(-0.03turn);
    background: #f2f5f6; /* 裏面の背景色 
}*/
/*  縦に反転する場合 */
.btn-3d-circle:hover .btn-3d-circle-content {
    -webkit-transform: rotateX(0.5turn) rotateX(-0.03turn);
    transform: rotateX(0.5turn) rotateX(-0.03turn);
    background: #f2f5f6; /* 裏面の背景色 */
}
/* 表の文字も反転させないために　0； */
.btn-3d-circle:hover .btn-3d-circle-front {
    opacity: 0;
}

/* 裏面を表示 */
.btn-3d-circle:hover .btn-3d-circle-back {
    /*
    top: calc(50% - 2rem);
    left: calc(50% - 0.75rem);
    */
    opacity: 1;
}
/* 裏面の文字の表示の仕方 */
.btn-3d-circle-back {
    position: absolute;

    font-size: 62.5%;
    top: 50%; /* まずは真ん中に */
    left: 50%;
    transform: translate(-50%, -50%); /* 要素の中心を真ん中に */
    /* 画面が縮んでも改行しない指示 */
    white-space: nowrap;
    color: #52b1ff; /* 表文字の色 */

    -webkit-transition-duration: 0.8s; /* 古いWebKitブラウザ用 */
    transition-duration: 0.8s;         /* 標準ブラウザ用 */

    opacity: 0;
}






/* フラッシュメッセージ */
#flashMessage{
    font-size:medium
    font-weight: small;
    padding-bottom: 20px;
}

    /* 追加：画面が縮んでも改行しない指示 */
    /* white-space: nowrap; */
    /* 追加：画面が縮んでも背景が変わらない */
    /* width: fit-content;*/


/* お問い合わせ */
.copyright a{
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える */
    font-weight: lighter;
    color: rgb(255, 140, 0);
    text-align: left;
    bottom: 0;
    text-decoration: none;  /* リンク下の線を削除 */
    font-size: medium;
}
.copyright a:hover{
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える */
    font-weight:bolder;
    color: rgb(255, 0, 0);
    text-align: left;
    bottom: 0;
    text-decoration: none;  /* リンク下の線を削除 */
    font-size: medium;
}




