/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body { background-color: #fdea2e;}


/*　　　　遊び方　　　　　*/
#popup {
    display: none; /* label でコントロールするので input は非表示に */
    margin: 0;
}
.popup-title{
    color: rgb(255, 0, 144);
    font-weight: bold;
    text-align: center; 
    margin: 0;
}
.popup-open {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
    color: rgb(255, 0, 144);
    font-weight: bold;
    text-align: left;
}
.popup-overlay {
    display: none; /* input にチェックが入るまでは非表示に */
}
#popup:checked ~ .popup-overlay {
    display: block;
    z-index: 99999;
    /*　　背景透過　*/
    background-color: #ffba7070;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.popup-window {
    width: 90vw;
    max-width: 560px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-text {
    text-align: left;
    margin: 0;
    padding: 10px;

}

.popup-text:not(:last-of-type) {
    margin-bottom: 1em
}

.popup-close {
    cursor: pointer;
    position: absolute;
    top: -26px;
    right: 0;
}


/*トグルメニュー*/
.header-container {
    background-color: #fdea2e;
    position: relative;
    text-align: right;
}
    
.header-container .toggle-button {
    position: absolute;
    text-align: right;
    right: 0; /* 右寄せ */
}
    
.header-container .toggle-content {
    position: absolute;
    text-align: right;
    right: 0; /* 右寄せ */
    flex
}

#toggle-button{
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
}

.toggle-content li {
    margin: 10px 0; /* 各項目の上下に10pxのマージンを追加 */
    padding-left: 25px; /* アイコンのスペースを確保 */
    background: url('app/assets/images/矢印青.png') no-repeat left center; /* アイコン画像を左に配置 */
    background-size: 20px 20px; /* アイコン画像のサイズを調整 */
}

.toggle-list{
    list-style: none; /* デフォルトのリストマーカーを消す */
    padding-left: 30px;
    line-height: 25px;
}

.logo-title {
    text-align: center;
}

/*お題とフォーム*/
.myForm{
    font-weight: bolder;
    padding-top: 30px;
    padding-bottm: 0px;
    text-align: center;
}
/*入力フォーム*/
#inputData{
    padding: 10px;
    margin-bottom: 20px;
}
/*入力フォームを中心に*/
.inputform{
    display: flex;
    justify-content: center;
}
/*お題とフォームを二列に*/
label, input {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

/* buttonタグのリセットCSS（不要な場合、セレクタごと削除してください） */
button {
    padding: 20px;
    margin: 20px;
    font-family: inherit;
    font-weight: bold;
    appearance: none;
    cursor: pointer;
    background-color: white;
    /*ブラウザのデフォルトのスタイルを無効*/
    appearance: none;
}

.copyright {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
    font-weight: bold;
    color: orange;
    text-align: left;
    bottom: 0;
}