@tailwind base;
@tailwind components;
@tailwind utilities;

/* メニュー */
.menus-btn :hover{ content: url('header/menu/menus-hover.svg');}
.menu-list1 a:hover #image-menu1 { content: url('header/menu/menu-1-hover.svg');}
.menu-list2 a:hover #image-menu2 { content: url('header/menu/menu-2-hover.svg');}
.menu-list3 a:hover #image-menu3 { content: url('header/menu/menu-3-hover.svg');}
.menu-list4 a:hover #image-menu4 { content: url('header/menu/menu-4-hover.svg');}

/* 投稿の詳細・ゲーム・編集・削除ボタン */
.post-show :hover { content: url('post/post-show-hover.svg');}
.post-game :hover { content: url('post/post-game-hover.svg');}
.post-edit :hover{ content: url('post/post-edit-hover.svg');}
.post-delete :hover { content: url('post/post-delete-hover.svg');}

/* ゲーム画面 （Tailwindに書き換えられず） */
#panel {
    background-color: rgba(233, 252, 255, 0.995);
    border-radius: 10px;
    width: 400px;
    height: 480px;
    overflow: hidden; }

.card {
    width: 180px;
    height: 85px;
    line-height: 25px;
    border-radius: 10px;

    box-shadow: rgb(255, 115, 0) 0px 4px;
    float: left;
    margin: 5px 0px 5px 13px;
    cursor: pointer;

    color: rgb(244, 0, 175);
    text-align: center;
    text-wrap: balance;
    font-size: 15px;
    font-weight: bold;
    background: rgb(255, 255, 247);

    transform-style: preserve-3d; /* 3D効果を維持 */
    -webkit-transform: rotateY(0.5turn);  /* 横に回転(古いブラウザ用) */
    transform: rotateY(0.5turn);  /* 横に回転 */
    -webkit-transition: transform 0.5s;  /* 回転する速度(古いブラウザ用) */
    transition: transform 0.5s; } /* 回転する速度 */

/* カードが裏の状態 */
.back {
    background-image: url('game-cardback.png');
    background-size: 180px 85px; }

/* カードが表の状態 */
.card:not(.back) { transform: rotateY(0); } /* 反転させない */

/* ペアになったカード */
.finish {
    background-color: white;
    box-shadow: none;
    border: 2px solid rgb(255, 132, 0, 0.827); }