@tailwind base;
@tailwind components;
@tailwind utilities;

/* メニュー */
.menus-button :hover{ content: url('header/menu/menus-hover.svg');}
.menu-list1 a:hover #image-menu1 { content: url('header/menu/menu-1-hover.svg');}
.menu-list2 a:hover #image-menu2 { content: url('header/menu/menu-2-hover.svg');}
.menu-list3 a:hover #image-menu3 { content: url('header/menu/menu-3-hover.svg');}
.menu-list4 a:hover #image-menu4 { content: url('header/menu/menu-4-hover.svg');}