/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body { background-color: #fdea2e;}

/*　　　　遊び方　　　　　*/
#popup {
    display: none; /* label でコントロールするので input は非表示に */
    margin: 0;
}
.popup-open {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
    color: rgb(255, 0, 144);
    font-weight: bold;
    font-size: large;
    text-align: left;
    margin-bottom: 0;
    margin-left: 20px;
}
.popup-title{
    color: rgb(255, 0, 144);
    font-weight: bold;
    font-size: large;
    text-align: center; 
    margin: 0;
}
.popup-overlay {
    display: none; /* input にチェックが入るまでは非表示に */
}
#popup:checked ~ .popup-overlay {
    display: block;
    z-index: 99999;
    /*　　背景透過　*/
    background-color: #ffba7070;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
.popup-window {
    /* スマホだと幅が窮屈 */
    width: 90vw;
    max-width: 560px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    /* fixed：親の存在を無視して、画面を基準にする */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-text {
    text-align: left;
    margin: 0;
    padding: 10px;
    color: rgb(255, 89, 0);
}
.popup-text:not(:last-of-type) {
    margin-bottom: 1em
}
.popup-text image{
    align-items: center;
}
.popup-close {
    cursor: pointer;
     /* popup子 */
    position: absolute;
    top: -26px;
    right: 0;
}


.header-container {
    /* application.html.erbで設定したクラス（親）*/
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: relative;
}

/*トグルメニュー*/
#toggle-content1 , #toggle-content2{
    /* 吹き出しトグルとハートトグルのコンテンツ */
    display: none;
    position: fixed;
    width: 100%;
    max-width: 300px;
    top: 40px;
    right: 0px;
}
#toggle-content2{
    top: 40px;
    right: -30px;
}
.toggles {
    /* 吹き出しトグルとハートトグルを一括りにしたクラス */
    position:relative;
    display: flex;
    /* toggle1と2の間の距離 */
    gap: 50px;
    justify-content: center;
    cursor: pointer;
}
.toggle1 , .toggle2{
    /* 吹き出しトグルとハートトグル */
    position: relative;
    width: 100%;
}
.toggle2{
    top: 5px;
    right: 20px;
}
.toggle-list1 , .toggle-list2{    
    /* 吹き出しトグルとハートトグルの項目 */
    padding-left: 30px;
    line-height: 25px;
    list-style: none;
    width: 100%;
}
.toggle-list1 li a, .toggle-list2 li a{
    /* toggle-listの中のliタグの中のaタグを編集 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* リンク下の線を削除 */
    text-decoration: none;
}

/*  */


.logo-title {
    text-align: center;
}

/*お題とフォーム*/
.myForm{
    font-size: large;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottm: 0px;
    text-align: center;
}
/*入力フォーム*/
#inputData{
    padding: 10px;
    margin-bottom: 20px;
}
/*入力フォームを中心に*/
.inputform{
    display: flex;
    justify-content: center;
}
/*お題とフォームを二列に*/
label, input {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

/* buttonタグのリセットCSS（不要な場合はセレクタごと削除） */
button {
    padding: 20px;
    margin: 20px;
    font-family: inherit;
    font-weight: bold;
    appearance: none;
    cursor: pointer;
    background-color: white;
    /*ブラウザのデフォルトのスタイルを無効*/
    appearance: none;
}

.copyright {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える*/
    font-weight: bold;
    color: orange;
    text-align: left;
    bottom: 0;
}