/* Omniauthのフラッシュメッセージ */
.custom-alert {
  padding: 15px;
  background-color: #f44336;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;}

.custom-alert .close {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;}

.custom-alert .close:hover {
  color: black;}