<div class="menu-list1" >
    <%= link_to image_tag('footer/menu/menu-1.svg', width: '25', height: '25', id: 'image-menu1') + 'みんなの投稿で遊ぶ',
        posts_path,
        class: "btn btn-md items-center no-underline rounded-lg w-hull px-2 mb-2 p-0 gap-2
                font-bold text-nowrap text-[#019c8f] hover:text-[#00e297]
                bg-yellow-50 hover:bg-white border-2 border-white hover:border-orange-400
                drop-shadow-md hover:drop-shadow-none" %>
</div>